/.idea/
/target/
/out/
*.iml
.classpath
.project
/bin/
/WebRoot/WEB-INF/classes
/.myeclipse/

componentsServer.exe
componentsServer
routers/commentsRouter_*

log
componentsServer.log
lastupdate.tmp
/dist/
/http/http-client.env.json

/vendor/
.DS_Store
.vscode/
__debug_bin
